<div class="home col-xs-12 ">
  <h1>Bookmark Central!</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#bookmarks"><h4>Bookmarks</h4></a></li>
        <li><a data-toggle="tab" href="#aboutbm"><h4>About Bookmarks</h4></a></li>
    </ul>

    <div class="tab-content">
        <div id="bookmarks" class="tab-pane fade in active">
            <div class="col-xs-10 pre-scrollable"  style="border: 1px solid #e1e1e8;"> <!-- position:"left"; -->
                <div class="tableindex">
                    <!-- TODO paint the table here -->
                    {{#each cargo}}
                        <a href="/bookmark/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                    {{/each}}
                </div>
            </div>
            <div class="col-xs-12"> <!-- position:"left"; -->
                <div class="pagination">
                    <a href="/bookmarknext/{{start}}">Next</a>&nbsp;&nbsp;&nbsp;
                    <a href="/bookmarkprev/{{ret}}">Previous</a>
                </div>
            </div>
        </div>
        <div id="aboutbm" class="tab-pane fade">
            {{> about_bookmark}}
        </div>
    </div>
</div>
